<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body class="bg-light">
    <header class="py-3 mb-4 border-bottom fixed-top bg-white">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">SUPER HERO WEB</span>
            </a>
        </div>
    </header>

    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">EL REGISTRO DE HEROES NO-OFICIAL</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Si eres o conoces a un HEROE, puedes usar esta simple pagina para registrar sus datos, para despues poder consultarlos, actualizarlos o incluso eliminar datos.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                @Html.ActionLink("Agregar Heroe", "Create", "Agregar Heroe", htmlAttributes: new { @class = "btn btn-primary btn-lg px-4 me-sm-3" })
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="~/Resources/hero-logo.png" class="img-fluid mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>



    <div class="container body-content bg-light">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>